---
import BaseLayout, { type BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import cdnify from "@/lib/cdnify";

const pageMetadata = {
    title: "About",
    description: "Aout Xenitane",
    keywords: ["about", "portfolio", "xenitane", "resume", "software developer", "programmer", "coder", "software engineer"],
} satisfies BaseLayoutProps;

const Content = (await Astro.glob("@/data/about.md"))[0].Content;
---

<BaseLayout {...pageMetadata}>
    <h1 id="title" class="flex items-center py-4 text-3xl font-bold">
        <span> About Me </span>
    </h1>
    <div class="flex flex-col gap-2" id="about-content">
        <Content />
    </div>
    <div class="flex flex-col">
        <h2 class="text-xl font-bold">My Resume</h2>
        <p>You can download my resume here</p>
        <ul class="flex gap-2">
            <li class="rounded-xl bg-gray-300/50 px-2 py-1 dark:bg-gray-700/50">
                <a target="_blank" href={cdnify([true, "/about/resume.pdf"])}> Resume.pdf </a>
            </li>
            <li class="rounded-xl bg-gray-300/50 px-2 py-1 dark:bg-gray-700/50">
                <a target="_blank" href="/about/resume.md"> Resume.md </a>
            </li>
        </ul>
    </div>
</BaseLayout>

<style is:global>
    #about-content {
        h1 {
            @apply text-2xl font-bold tracking-tighter md:text-3xl;
        }
        blockquote {
            @apply border-l-[6px] border-gray-200 px-3 py-1 text-gray-800 dark:border-gray-800 dark:text-gray-200;
        }
        * a {
            @apply underline;
        }
        h2 {
            @apply text-xl font-bold md:text-2xl;
        }
        h3 {
            @apply text-lg font-bold md:text-xl;
            + * {
                @apply font-semibold;
                em {
                    @apply font-normal;
                }
            }
        }
        ul {
            @apply list-disc space-y-1 pl-6;
        }
    }
</style>
