---
import BaseLayout, { type BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import cdnify from "@/lib/cdnify";
import cn from "@/lib/cn";
import type { MarkdownInstance } from "astro";

const pageMetadata = {
    title: "About",
    description: "Aout Xenitane",
    keywords: ["about", "portfolio", "xenitane", "resume", "software developer", "programmer", "coder", "software engineer"],
} satisfies BaseLayoutProps;

const Content = ((await import.meta.glob("@/data/about.md")["/src/data/about.md"]()) as MarkdownInstance<Record<string, any>>)
    .Content;
---

<BaseLayout {...pageMetadata}>
    <h1 id="title" class="flex items-center py-4 text-3xl font-bold">About Me</h1>
    <div class="flex flex-col gap-2" id="about-content">
        <Content />
    </div>
    <div class="flex flex-col">
        <h2 class="text-xl font-bold">My Resume</h2>
        <p>You can download my resume here</p>
        <ul class="flex gap-2">
            <li class={cn("rounded-xl bg-neutral-300/50 px-2 py-1", "dark:bg-neutral-700/50")}>
                <a target="_blank" href={cdnify([true, "/index/about/resume.pdf"])}> Resume.pdf </a>
            </li>
            <li class={cn("rounded-xl bg-neutral-300/50 px-2 py-1", "dark:bg-neutral-700/50")}>
                <a target="_blank" href="/about/resume.md"> Resume.md </a>
            </li>
        </ul>
    </div>
</BaseLayout>

<style is:global>
    #about-content {
        h1 {
            @apply text-2xl font-bold tracking-tighter;
            @apply md:text-xl;
        }
        blockquote {
            @apply border-l-[6px] border-neutral-200 px-3 py-1 text-neutral-800;
            @apply dark:border-neutral-800 dark:text-neutral-200;
        }
        * a {
            @apply underline;
        }
        h2 {
            @apply text-xl font-bold;
            @apply md:text-2xl;
        }
        h3 {
            @apply text-lg font-bold;
            @apply md:text-xl;
            + * {
                @apply font-semibold;
                em {
                    @apply font-normal;
                }
            }
        }
        ul {
            @apply list-disc space-y-1 pl-6;
        }
    }
</style>
