---
import BaseLayout, { type BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import sortByLatest from "@/lib/sortByLatest";
import { getCollection } from "astro:content";
import Click from "@/components/Click.astro";

const pageMetadata = {
    title: "Image Gallery",
    description: "Xenitane's Image Gallery",
    keywords: ["portfolio", "xenitane", "photography"],
} satisfies BaseLayoutProps;

const clicks = (await getCollection("click")).sort(sortByLatest);
---

<BaseLayout {...pageMetadata}>
    <h1 id="title" class="flex items-center py-4 text-3xl font-bold">
        <span> Gallery </span>
    </h1>
    {
        0 === clicks.length ? (
            <div class="flex h-24 w-full items-center justify-center rounded-lg bg-gray-100/70 p-4 text-lg font-semibold italic dark:bg-gray-900/70">
                Wait some time, you'll see the world through my eyes&hellip;
            </div>
        ) : (
            <div class="grid gap-4 md:grid-cols-2">
                {clicks.map(function ({ data }) {
                    return <Click {...data} />;
                })}
            </div>
        )
    }
</BaseLayout>
