---
import Project from "@/components/Project.astro";
import BaseLayout, { type BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import cn from "@/lib/cn";
import sortByLatest from "@/lib/sortByLatest";
import { getCollection } from "astro:content";

const pageMetaData = {
    title: "Projects",
    description: "Xenitane's Project Archive",
    keywords: ["portfolio", "xenitane", "projects", "programming", "mathematics", "coding"],
} satisfies BaseLayoutProps;

const projects = (await getCollection("project")).sort(sortByLatest);
---

<BaseLayout {...pageMetaData}>
    <h1 id="title" class="flex items-center py-4 text-3xl font-bold">My Projects</h1>
    {
        0 === projects.length ? (
            <div
                class={cn(
                    "flex h-24 w-full items-center justify-center rounded-lg bg-neutral-100/70 p-4 text-lg font-semibold italic",
                    "dark:bg-neutral-900/70"
                )}
            >
                Working on stuff, will post here soon&hellip;
            </div>
        ) : (
            <div class="flex flex-col gap-4">
                {projects.map(function ({ data, slug }, idx) {
                    return <Project textSide={(idx & 1) === 1} slug={slug} {...data} />;
                })}
            </div>
        )
    }
</BaseLayout>
