---
import Publication from "@/components/Publication.astro";
import BaseLayout, { type BaseLayoutProps } from "@/layouts/BaseLayout.astro";
import sortByLatest from "@/lib/sortByLatest";
import { getCollection } from "astro:content";

const pageMetaData = {
    title: "Blogs & Articles",
    description: "Xenitane's Publications",
    keywords: ["portfolio", "xenitane", "blogs", "articles"],
} satisfies BaseLayoutProps;

const publications = (
    await getCollection("publication", function (publication) {
        return import.meta.env.DEV || !publication.data.isDraft;
    })
).sort(sortByLatest);
---

<BaseLayout {...pageMetaData}>
    <h1 id="title" class="flex items-center py-4 text-3xl font-bold">
        <span> All Blogs &amp; Articles </span>
    </h1>
    {
        0 === publications.length ? (
            <div class="flex h-24 w-full items-center justify-center rounded-lg bg-gray-100/70 p-4 text-lg font-semibold italic dark:bg-gray-900/70">
                Scribbling and Drafting some ideas, Keep your eyes open&hellip;
            </div>
        ) : (
            <div class="grid gap-4 md:grid-cols-2">
                {publications.map(function ({ slug, data }) {
                    return <Publication {...data} slug={slug} />;
                })}
            </div>
        )
    }
</BaseLayout>
