---
type Props = {
    href: string;
    text: string;
};
const { href, text } = Astro.props;
---

<a
    class="relative flex h-8 w-8 items-center justify-center gap-3 overflow-x-hidden rounded-full border border-gray-200 px-[5px] dark:border-gray-800"
    href={href}
>
    <span class="h-5 w-5">
        <slot />
    </span>
    <span class="sr-only">{text}</span>
</a>
