---
interface Props {
    href: string;
    text: string;
}
const { href, text } = Astro.props;
---

<a
    class="group relative flex h-8 w-8 items-center justify-center gap-3 overflow-x-hidden rounded-full border border-gray-200 px-[5px] hover:w-fit"
    target="_blank"
    href={href}
>
    <span class="h-5 w-5">
        <slot />
    </span>
    <span class="sr-only">{text}</span>
</a>
