---
type Props = {
    text: string;
    link?: string;
};
const { text, link } = Astro.props;
---

<li class="flex items-center gap-4">
    <span class="h-6 w-6">
        <slot />
    </span>
    <h3 class="font-semibold">
        {undefined === link ? text : <a href={link}>{text}</a>}
    </h3>
</li>
