---
import { type CollectionEntry } from "astro:content";
import minifySlug from "@/lib/minifySlug";
import cdnify from "@/lib/cdnify";
import cn from "@/lib/cn";

type Props = CollectionEntry<"publication">["data"] & {
    slug: CollectionEntry<"publication">["slug"];
};

const {
    slug: slugOrig,
    metaContent: { title, heroImage },
} = Astro.props;
const slug = minifySlug(slugOrig);
---

<a
    href={`/pub/${slug}`}
    class={cn(
        "relative flex aspect-[4/3] items-center justify-center overflow-hidden rounded-xl border border-neutral-300",
        "md:border-2",
        "dark:border-neutral-700"
    )}
>
    <img src={cdnify(heroImage)} alt={`hero-image-${slug}`} class="min-h-full min-w-full object-cover grayscale" />
    <div
        class={cn("absolute inset-x-0 bottom-0 flex h-16 w-full items-center bg-neutral-400/60 p-4", "dark:bg-neutral-600/60")}
    >
        <span class="overflow-hidden text-nowrap text-ellipsis">{title}</span>
    </div>
</a>
