---
const links: [string, string][] = [
    ["/", "Home"],
    ["/about", "About"],
    ["/project", "Projects"],
    ["/publication", "Blogs & Articles"],
    ["/gallery", "Gallery"],
];
---

<header
    class="fixed flex items-center top-0 z-20 w-full h-16 bg-white px-4 shadow-sm drop-shadow md:h-[72px] md:p-5 lg:h-20 xl:px-6"
    x-data="{open:false}"
    x-on:click="if(!$refs.hamEl.contains($event.target)&&!$refs.navEl.contains($event.target))open=false"
>
    <div class="flex w-full justify-between items-center">
        <a class="flex gap-2" href="/">
            <img src="/logo.png" class="aspect-square h-9" alt="logo" />
            <span class="text-3xl font-semibold tracking-tighter">Xenitane&trade;</span>
        </a>
        <div
            class="absolute bottom-0 inset-x-0 z-10 top-16 w-dvw h-[calc(100dvh-64px)] bg-gray-300/15"
            x-cloak
            x-show="open"
            x-trap.noscroll="open"
        >
        </div>
        <nav
            class="bg-white duration-300 transition-all translate-x-full ease-in-out py-4 pl-4 w-3/4 h-[calc(100dvh-64px)] absolute z-20 bottom-0 top-16 right-0 md:static md:translate-x-0 md:w-auto md:h-auto md:p-0"
            :class="open&&'!translate-x-0'"
            x-ref="navEl"
        >
            <ul class="flex flex-col md:flex-row items-baseline md:items-center space-y-4 md:space-y-0 md:space-x-6">
                {
                    links.map(([link, text]) => (
                        <li>
                            <a
                                class="font-medium transition-colors duration-300 hover:text-gray-500"
                                href={link}
                                x-on:click="open=false"
                            >
                                {text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <div class="block md:hidden hover:cursor-pointer" x-on:click="open=!open" x-ref="hamEl" :class="open&&'hamburger-open'">
            <div class="h-[3px] rounded-full w-[27px] bg-black m-[5px_0] transition-all duration-300 ease-in-out opacity-80">
            </div>
            <div class="h-[3px] rounded-full w-[27px] bg-black m-[5px_0] transition-all duration-300 ease-in-out opacity-80">
            </div>
            <div class="h-[3px] rounded-full w-[27px] bg-black m-[5px_0] transition-all duration-300 ease-in-out opacity-80">
            </div>
        </div>
    </div>
</header>
